
body{
	background-image: url(https://raw.githubusercontent.com/zorangligorevic/michaelswatching/master/Glitch.png);
	
	
}

nav ul{
	margin: 0;
	padding: 0;
	
	
}
nav ul li{
	list-style: none;
	float: left;
	font-size: 125%;
	
}
nav ul li a{
	display: block;
	font-weight: bold;
	padding: .625em 3.5em;
	text-decoration: none;
	color: red;
	font-family: 'Righteous', cursive;
	
}



header{
	display: flex;
  justify-content: center;
}
#wrap{
	display: flex;
	justify-content: center;
	padding-top : 10%;
}

#social{
	
	display: flex;
	justify-content: center;
	padding-top : 5%;
	width: 100%;
	
}

.right{
	padding-top: 12%;
	padding-left: 5%;
	color:red;
	font-size: 80px;
	font-family: 'Monoton', cursive;
  width: 350px;
  height: 150px;
  
 
	
}
#tiny{
	font-size: 3px;
}
.right:hover{
	
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 
  margin: 4px 2px;

}

.soon{
	display: flex;
	justify-content: center;
	padding-top : 50%;

}

a{
	color:red;
}
a:hover{
	color: white;
}
h1, h2{
	color: red;
	padding-left: 5%;
	font-family: 'Press Start 2P', cursive;
}

p{
	color: white;
	padding-left: 5%;
	font-family: 'Indie Flower', cursive;
}

.snapchat{
	float: right;
	padding-top: 4%;
}

.instacode{
	
	padding-right: 5%;
	padding-top: 8%;
	
}

.flink{
	padding-left: 5%;
	font-size: 100px;
	font-family: 'Gugi', cursive;
}

.snapcode{

}

.headspin{
	float: left;
	padding-top: 4%;
}

.co{
	float: left;
	padding-top: 2%;
}

.anim{
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-right: 10%;
}
audio{
	float: top;
}

#clues{
	padding-top: 5%;
}



